name: Cypress Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm install

      # 4️⃣ Run Cypress tests
      - name: Run Cypress tests
        uses: cypress-io/github-action@v5
        with:
          spec: cypress/e2e/auth-create-token.cy.js,create-booking.cy.js,Filter-by-Name.cy.js,Get-bookings.cy.js

      # 5️⃣ Zip screenshots if tests fail
      - name: Zip failed screenshots
        if: failure()
        run: |
          mkdir -p temp
          zip -r temp/failed_screenshots.zip cypress/screenshots || echo "No screenshots folder found"
